section.stn.container
    h2.stn__h2 Serving Quality
    h1.stn__h1 We at Gericth are serving our customers <br>for over a decade.
    p.stn__pr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
    div.stn__box
        button.stn__box--btn Read More
        button.stn__box--btn-second Contact Us
section.stn-second.container
    img.stn-second__img(src="../../assets/Menu.png", alt="bar-image")
section.stn.container
    div.stn-third__card
        h2.stn__h2 Reservations
        h1.stn__h1 Book A Table
        div.stn-third__card--box
            input.stn-third__card--box__input(type="text" placeholder="1 person")
            input.stn-third__card--box__input(type="text" placeholder="12/05/2021")
            input.stn-third__card--box__input(type="text" placeholder="11:00 AM")
        button.stn-third__card--btn Book now
section.stn-second.container
    img.stn-second__img(src="../../assets/Group 65.png", alt="bar-image")