doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../scss/main.css")
        title Document
    body 
        include ./navbar.pug
        include ./hero.pug
        include ./about.pug
        include ./table.pug
        include ./bar menu.pug
        include ./special.pug
        include ./chef's word.pug
        include ./customers.pug
        include ./video.pug
        include ./laurels.pug
        include ./updates.pug
        include ./instagrm.pug
        include ./footer.pug